<nav class="container">
  <ul>
    <li><strong></strong></li>
  </ul>
  <ul>
    <li><a href="/">πΌπ‘›π‘–π‘π‘–π‘ </a></li>
    <li><a href="/register">π‘…π‘’π‘”π‘–π‘ π‘΅π‘π‘π‘π‘ π‘’ </a></li>
    <li><a href="/login">πΌπ‘›π‘–π‘π‘–π‘π‘ π‘†π‘’π‘ π‘–π‘π‘› </a></li>
    <li><a href="/logout" class="text-danger">π¶π‘’π‘π‘π‘π‘ π‘†π‘’π‘ π‘–π‘π‘›</a></li>
  </ul>
</nav>